/* body {
    position: relative;
    margin: 200px;
} */

ul {position: absolute;
    display: inline-block;
    width: 1218px;
    /* border: 1px solid black; */
    list-style-type: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

ul li {
    display: inline-block;
    /* border: 1px solid black; */
    font-size: 100px;
    padding: 20px;
    width: 120px;
    border-radius: 100%;
    text-align: center;
    background-color: rgb(195, 189, 189, 0.3);


}
ul li:not(:last-child) {
    margin-right: 100px;

}

ul li a i {
    color: rgb(84, 83, 83);
}
i.fa-facebook:hover{
    color: rgb(11, 95, 130);
}
i.fa-twitter:hover{
    color: rgb(29, 100, 232);
}
i.fa-google-plus-g:hover{
    color: red;
}
i.fa-linkedin-in:hover{
    color: rgb(29, 100, 232);
}
i.fa-instagram:hover{
    color: rgb(29, 100, 232);
}